<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Wish List ({{ wishList.length > 0? wishList.length : 0}})
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id="wishlist-content">

  <ion-list *ngIf="wishList.length > 0 && showFullListView" id="open-modal">
      <ion-item  style="margin: 24px;" *ngFor="let book of wishList" (click)="selectBook(book)">
        <ion-img [src]="book.image" style="height: 50px; margin-right:20px"></ion-img>
        <p>{{book.title}}</p>
      </ion-item>
  </ion-list>
 
</ion-content>

<ion-modal class="wishlist-modal" trigger="open-modal" (willDismiss)="onWillDismiss($event)">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{selectedBook.title}}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cancel()">
            <ion-icon slot="icon-only" color="danger" name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-row class="modal-pic-row">
        <ion-img class="modal-book-img" [src]="selectedBook.image"></ion-img>
      </ion-row>

        <p class="book-data">Page Count: {{selectedBook.pageCount}}</p>
        <p class="book-data">ISBN_13: {{selectedBook.isbn_13}}</p>
        <p class="book-data">ISBN_10: {{selectedBook.isbn_10}}</p>
        <p class="book-data">Publisher: {{selectedBook.publisher}}</p>
        <p class="book-data">Publish Date: {{selectedBook.publishedDate | date}}</p>
        <p class="book-data">Description:</p>
        <div style="max-height: 250px; overflow-y: auto;">
          <p class="desc">{{selectedBook.description}}</p>
        </div>
      
      <ion-row class="modal-icon-row">
        <ion-col>
          <ion-button expand="block" color="light" (click)='openSite(selectedBook.previewLink)'>
            <ion-icon class="modal-icon" color="primary" slot="icon-only" name="logo-google" ></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" color="light" (click)='presentAlert(selectedBook)'>
            <ion-icon class="modal-icon" color="danger" slot="icon-only" name="trash-outline" ></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-content>
  </ng-template>
</ion-modal>