.row-wrapper {
    padding: 24px;
    .book-card {
        width: 300px;
        padding:10px;
        cursor: pointer;
        .book-img {
            height: 250px;
            padding: 15px;
        }
        .book-title{
            text-align: center;
        }
        .book-author {
            text-align: center;
        }
    }
}