<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
    <ion-icon [color]="showScan ? 'primary':''" style="margin: 0 20px; font-size:30px" (click)="onScan()" slot="end" name="barcode-outline"></ion-icon>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" id="main-content">
  <ion-row class="row-wrapper" *ngIf="showSearch">
    <ion-col sizeSm="3" sizeXs="12" sizeMd="2">
      <ion-select interface="popover" [(ngModel)]="searchType">
        <ion-select-option value="title">Title</ion-select-option>
        <ion-select-option value="author">Author</ion-select-option>
        <ion-select-option value="isbn">ISBN</ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col sizeSm="8" sizeMd="9" sizeXs="12">
      <ion-input [(ngModel)]="searchText" placeholder="Criteria..."></ion-input>
    </ion-col>
    <ion-col sizeSm="1" sizeMd="1" sizeXs="12">
      <ion-button style="width: 100%;" [disabled]="!searchText || searchText === ''" class="ion-float-right" (click)="search()"><ion-icon name="search"></ion-icon></ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="row-wrapper" *ngIf="showScan">

  </ion-row>
  <ion-row class="row-wrapper">
    <ion-col *ngFor="let book of books">
      <ion-menu-toggle menu="search">
      <ion-card class="book-card" (click)="viewBookDetails(book)">
        <ion-img [src]="book.image" class="book-img"></ion-img>
        <p class="book-author">{{book.author}}</p>
        <p class="book-title">{{book.title}}</p>
      </ion-card>
    </ion-menu-toggle>
    </ion-col>
  </ion-row>
</ion-content>

<ion-menu menuId="search" side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar style="text-align: center;">
      <ion-icon class="icon-spacing" id="google" (click)="openSite(selectedBook.previewLink)" name="logo-google"></ion-icon>
      <ion-icon class="icon-spacing" id="wishList" (click)="addToWishList()" name="list-outline"></ion-icon>
      <ion-icon class="icon-spacing" id="library" (click)="addToLibrary()" name="book-outline"></ion-icon>
      <ion-icon class="icon-spacing" id="audioBook" (click)="searchAudioBook()" name="headset-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding"  *ngIf="selectedBook">
    <p class="author-title">{{selectedBook.author}}: {{selectedBook.title}}</p>
    <ion-img class="book-image" [src]="selectedBook.image"></ion-img>
    <p class="book-data">Page Count: {{selectedBook.pageCount}}</p>
    <p class="book-data">ISBN_13: {{selectedBook.isbn_13}}</p>
    <p class="book-data">ISBN_10: {{selectedBook.isbn_10}}</p>
    <p class="book-data">Publisher: {{selectedBook.publisher}}</p>
    <p class="book-data">Publish Date: {{selectedBook.publishedDate | date}}</p>
    <p class="book-data">Description:</p>
    <div style="height: 250px; overflow-y: auto;">
      <p class="desc">{{selectedBook.description}}</p>
    </div>
  </ion-content>
  <app-book-details [open]="openModal" [audioBookOptions]="audioBookOptions" [book]="selectedBook" (close)="openModal = false"></app-book-details>
</ion-menu>